<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap -->
    <!-- font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- my CSS file -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- my JS file -->
    <!--<script type="text/javascript" src="../static/script.js"></script>-->

    <title>Cody King Portfolio</title>
</head>

<body>
    <!-- Responsive navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CJK</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#about">About<span class="sr-only">(current)</span></a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Main Containter -->
    <div id="home" class="continer-fluid main-container">

        <!-- About section -->
        <div id="about" class="about-me">
            <h1>Cody J. King<h1>
                <h3>I am a self-taught web developer with some formal training in Java and C++.
                    I also like Python and C. Currently, I teach high shool computer science and robotics.</h3>
                    <img class="image-author" alt="Headshot of Cody J. King" src="../images/headshot.jpg">
                </div>

        <!-- Portfolio of work -->
        <div id="portfolio" class="portfolio">
            <h3>These are a few of my most signficant projects.</p>
                <a href="https://github.com/codytheking/TuringTributePage" target="_blank">
                    <img class="img-responsive" alt="Alan Turing Tribute Page" src="../images/TuringTribute.png"></a>

                <a href="http://codytheking.pythonanywhere.com/" target="_blank">
                    <img class="img-responsive" alt="Volleyball Passing Stats Website" src="../images/VballStatsWeb.png"></a>

                <a href="https://play.google.com/store/apps/details?id=codyjking.com.vballpassingstats&hl=en" target="_blank">
                    <img class="img-responsive" alt="Volleyball Passing Stats Android App" src="../images/VballStatsAndroid.png"></a>
        </div>

        <!-- Contact -->
        <div id="contact" class="social-buttons">
            <h3 id="contact-title">How to contact me.</h3>
            <div class="row">
                <div class="col-xs-4">
                    <a href="https://github.com/codytheking" target="_blank"><button class="btn btn-block btn-primary button-custom">
                        <i class="fa fa-github" aria-hidden="true"></i> Github</button></a>
                </div>
                <div class="col-xs-4">
                    <a href="https://www.linkedin.com/in/codyjking/" target="_blank"><button class="btn btn-block btn-primary button-custom">
                        <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</button></a>
                </div>
                <div class="col-xs-4">
                    <a href="https://www.freecodecamp.org/fccb00e0a54" target="_blank"><button class="btn btn-block btn-primary button-custom">
                        <i class="fa fa-free-code-camp" aria-hidden="true"></i> FCC</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Info -->
    <p class="page-info">Cody J. King © 2017. All Rights Reserved.</a></p>
</body>
</html>
